<hr>
<div id="footer">
    <hr>
    <ul>
        <ul>
            <div>Thanks for reading</div>
            <div class="dateName">@2022 Jacob Zimmerman</div>
        </ul>
        <ul>
            <div class="footerLinks">Contact Me</div>
            <div>
                <a>Linkedin</a>-&emsp;
                <a>Email</a>-&emsp;
                <a>@jacobzimmpainting</a>
            </div>
            
        </ul>
        
    </ul>
    
    
</div>