<hr>
<div id="footer">
    <hr>
    <ul>
        <div>
            Thanks for reading
        </div>
        <div>
            Look over here!
            <a>Contact Me</a>
            <a>Linkedin</a>
            <a>@jacobzimmpainting</a>
        </div>
    </ul>
    <div class="dateName">@2022 Jacob Zimmerman</div>
    
</div>