<div id="nav">
    <a href='/' class="name">Jacob Zimmerman</a>
    <ul>
        <a href="/about">About<span class="chaff">&nbsp;Me</span></a>
        <a class="mobile-hide">Projects</a>
        <a class="mobile-hide">Artworks</a>
        <a class="mobile-show">Articles</a>
        <a>Resume</a>
    </ul>
</div>