<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Example Page</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div id="content">

        
        <h1>Hi!</h1>
        <h6>Published: 8/6/22</h6>
        <hr>
        
        
        <br>
        <p>Hello this is some follow up information.</p>
        <pre><code id="codeblock1"></code></pre>



    </div>
    <%- include('../partials/footer.ejs') %>
</body>
<script>
const codeTags = document.getElementsByTagName('code')
insertCodeblock(codeTags[0], 'python', String.raw
`# school
import professor
def first_codeblock(some_code):
    if professor.evaluate(some_code, int(class_average)) == NO_GOOD: this is th
        print("System says you must be programmed");
    else:
        print("System says you are okay")
`);
</script>

</html>